<section class="flex flex-row h-full w-full">
  <aside class="card flex flex-col shadow-md rounded-lg m-4 w-80 min-h-[90vh]">
    <!-- Logo / Home Link -->
    <a
      routerLink="/"
      class="flex items-center gap-2 mb-6 px-4 py-2 rounded-lg hover:bg-primary-100 dark:hover:bg-primary-900 transition-colors w-full justify-center"
    >
      <span class="pi pi-home text-primary text-2xl"></span>
      <span class="text-xl font-semibold text-primary">Home</span>
    </a>
    <!-- Panel Menu -->
    <p-panelmenu [model]="items" styleClass="w-full">
      <ng-template #item let-item>
        <ng-container *ngIf="item.route; else urlRef">
          <a
            [routerLink]="item.route"
            routerLinkActive="!bg-primary-100 !text-primary-700 "
            [routerLinkActiveOptions]="{ exact: true }"
            class="flex items-center cursor-pointer text-color px-3 py-2 rounded-lg hover:bg-primary-50 dark:hover:bg-primary-900 transition-colors"
          >
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
          </a>
        </ng-container>
        <ng-template #urlRef>
          <a
            *ngIf="item.url; else noLink"
            [href]="item.url"
            class="flex items-center cursor-pointer text-color px-3 py-2 rounded-lg hover:bg-primary-50 dark:hover:bg-primary-900 transition-colors"
          >
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
          </a>
          <ng-template #noLink>
            <span
              class="flex items-center cursor-pointer text-surface-700 dark:text-surface-0 px-4 py-2 rounded-lg"
            >
              <span [class]="item.icon"></span>
              <span class="ml-2">{{ item.label }}</span>
              <i
                *ngIf="item.items"
                class="pi pi-angle-down text-primary ml-auto"
              ></i>
            </span>
          </ng-template>
        </ng-template>
      </ng-template>
    </p-panelmenu>
  </aside>

  <main class="w-full">
    <router-outlet></router-outlet>
  </main>
</section>
