<section class="flex flex-col gap-4 mt-64 mx-[30%]">
  <input
    type="email"
    name="email"
    id="email"
    autocomplete="email"
    required
    pInputText
    [(ngModel)]="credentiels.email"
  />

  <input
    type="password"
    name="password"
    pInputText
    [(ngModel)]="credentiels.password"
    id="password"
    autocomplete="current-password"
    required
  />

  <p-button (onClick)="onLogin()" label="Login" />

  <p class="mt-10 text-center text-sm/6 text-gray-500">
    {{ dataStringify() }}
  </p>
</section>
