<!-- <div
  class="fixed bottom-6 right-6 z-50 bg-blue-600 text-white rounded-full w-14 h-14 flex items-center justify-center shadow-lg cursor-pointer hover:bg-blue-700 transition-all"
  (click)="chatService.toggleChat()"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 512 512"
    class="w-6 h-6 fill-current"
  >
    <path
      d="M256 32C114.6 32 0 125.1 0 240c0 49.6 21.4 95 57 130.7C44.5 421.1 2.7 466 2.2 466.5c-2.2 2.3-2.8 5.7-1.5 8.7S4.8 480 8 480c66.3 0 116-31.8 140.6-51.4 32.7 12.3 69 19.4 107.4 19.4 141.4 0 256-93.1 256-208S397.4 32 256 32z"
    />
  </svg>
</div> -->

<p-button
  class="fixed bottom-2 !w-20 !h-20 right-6 z-50 transition-all"
  (onClick)="chatService.toggleChat()"
  [outlined]="true"
  [rounded]="true"
  size="large"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="30"
    height="30"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="icon icon-tabler icons-tabler-outline icon-tabler-message-chatbot m-1"
  >
    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
    <path
      d="M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12z"
    />
    <path d="M9.5 9h.01" />
    <path d="M14.5 9h.01" />
    <path d="M9.5 13a3.5 3.5 0 0 0 5 0" />
  </svg>
</p-button>
